#vscode
.vscode

# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# 本地构建静态历届校队成员选手的单页面
src/pages/members.astro
scripts/post-build-members.mjs

# macOS-specific files
.DS_Store
